<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<modules>
			<add name="WindowsAuthHeaderModule" type="WindowsAuthHeaderModule" />
		</modules>
        <rewrite>
            <rules>
                    <match url="(.*)" />
                <rule name="Forward to Tomcat" enabled="false" stopProcessing="true">
                    <action type="Rewrite" url="http://localhost:8080/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
