.book .book-summary ul.summary > li:first-child {
    background-image: url(http://www.orbeon.com/img/orbeon-logo-trimmed-transparent-42.png);
    background-repeat: no-repeat;
    background-position-x: 16px; 
    background-position-y: 6px;
    padding-left: 1000px; 
    line-height: 40px
}